#container{
	text-align: center;
	margin-top: 25px;
}
h1{
	color: blue;
	font-style: italic;
}
.calculator{
	display: inline-block;
	border: 2px solid darkblue;
	background-color: aliceblue;
	padding: 5px;
	border-radius: 10px;
}
table{
	margin: auto;
}
input{
	font-size: 25px;
	border: 3px solid #4b7b8f;
	border-radius: 20px;
}
input[type="text" i] {
	padding: 8px 3px;
}
button{
	font-size: 25px;
	background: lightblue;
	width: 75px;
    height: 52px;
    border: 5px;
    border-radius: 20px
}